* {
	margin: 0;
	padding: 0;
}

.circles {
	position: relative;
	height: 100vh;
	width: 100%;
	background: #000000;
	overflow: hidden;
}

.circle {
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	background-color: rgb(236, 31, 255);
	height: 630px;
	width: 630px;
	margin: -315px 0 0 -315px;
}

.circle2 {
	background-color: rgb(47, 255, 231);
	height: 420px;
	width: 420px;
	z-index: 1;
	margin: -220px 0 0 -220px;
}

.circle3 {
	background-color: rgb(89, 47, 255);
	height: 200px;
	width: 200px;
	z-index: 2;
	margin: -100px 0 0 -100px;
}

.cursor {
	position: fixed;
	background-color: blue;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: -7.5px 0 0 -7.5px;
	user-select: none;
	pointer-events: none;
	z-index: 4;
}

.content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	mix-blend-mode: screen;
	z-index: 3;
}

.content h1 {
	font-size: 10rem;
}
